<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/fragment::head">
</head>

<body>
<!-- Sidenav -->
<nav th:replace="fragment/fragment::sidebar">

</nav>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" th:href="@{/}">SpringBanque</a>
            <!-- Form -->
            <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search" type="text"/>
                    </div>
                </div>
            </form>

            <!-- User jessica Jones debut-->
            <ul th:replace="fragment/fragment::profil">
            </ul>
            <!-- User jessica Jones fin-->

        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">

                <!-- Header container -->
                <div class="container-fluid d-flex align-items-center">
                    <div class="row">
                        <div class=" text-center col-lg-14 col-md-12">
                            <br/>
                            <br/>
                            <marquee><h3 class="text-white mb-0">Page d'accueil du resumer des versements, elle contient la liste de tous les versements effectués </h3></marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--9">

        <!-- div d'alerte debut-->
        <div  th:if="${alertversement}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${alertversement}"> client effectué avec succes ...</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- div d'alerte fin-->

        <div class="row mt-5">
            <div class="col-xl-12  mb-5 mb-xl-8">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">liste des versements</h3>
                            </div>
                            <div class="col" align="right">
                                <!-- appelle de la function-->
                                <a th:href="@{/versementcompte}" class="btn btn-sm
                                                    btn-primary pull-right"> faire un versement
                                </a>
                            </div>
                        </div>
                    </div>
                    <div th:if="${listeversement} == null">
                        <p> Tableau vide </p>
                    </div>

                    <div th:if="${listeversement} != null">

                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light shadow  ">
                                <tr>
                                    <th scope="col">Compte Versement</th>
                                    <th scope="col">Montant Versé</th>
                                    <th scope="col">Reference transation</th>
                                    <th scope="col">Date transaction</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="listeversementmap :${listeversement}">
                                    <th scope="row" th:text="${listeversementmap.compte.numeroCompte}">
                                        /argon/
                                    </th>
                                    <td th:text="${listeversementmap.montant}">
                                        4,569
                                    </td>
                                    <td th:text="${listeversementmap.reference}">
                                        4,569
                                    </td>
                                    <td th:text="${listeversementmap.dateCreation}">
                                        4,569
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--fragment footer-->
        <footer th:replace="fragment/fragment :: footer"></footer>

    </div>
</div>

<!--fragment script-->
<soulama th:replace="fragment/fragment :: scripts"></soulama>
</body>
</html>